version: '3.5'

services:
    gitlab:
        build: ./hosting
        command: ["nginx"]
        restart: always
        volumes:
          - ./hosting/files:/app/gamedvr
         # - gamedvr:/app/gamedvr/files
        ports:
          - "80:80"

volumes:
  gamedvr:
