version: '3.5'

services:
    gitlab:
        build: ./hosting
        command: ["nginx"]
        restart: always
        volumes:
          - gamedvr:/app/gamedvr
        ports:
          - "80:80"

volumes:
  gamedvr:
